@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

#wrapper {
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
}
body {
	background: #3f4042;
	font-family: 'Roboto', sans-serif;
}
header .header {
	background-color: fff;
	height: 45px;
}
header a img {
	width: 134px;
	margin-top: 4px;
}
.login-page {
	width: 50%;
	height: 50%;
	padding: 8% 0 0;
	margin: auto;
}
.login-page .form .login {
	margin-top: 10px;
	margin-bottom: 26px;
}
.form {
	position: relative;
	z-index: 1;
	background: #81848a;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #d5caca;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #5c6067;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #d5caca;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form .message a {
	color: #3f4042;
	text-decoration: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
#map {
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#polis-container {
	width: 50vw;
	margin: 0 auto;
}
.heading,
.demographics {
	width: 50vw;
	margin: 0 auto;
}
